.venv
__pycache__/
*.pyc
*.pyo
*.pyd
env/
build/
dist/
*.egg-info/
.DS_Store
.vscode/
.idea/
*.log
coverage/
htmlcov/
.tox/
.pytest_cache/
.ipynb_checkpoints/
.env
.env.*
*.sqlite3
*.db
node_modules/
npm-debug.log*
yarn-error.log* 